body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #333;
}


.main_nav {
  background-color: #333;
}

.main_nav nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}



.logo_img {
  max-width: 150px;
  height: auto;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  gap: 15px;
}


.highlight a {
  background-image: url('images/button.png');
  background-size: cover;
  color: #ffe30e;
  font-weight: bold;
}



.content {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0


}


.all_content {
    max-width: 1200px;
    margin: 0 auto;
}

.main_nav {
    background-color: #333;
}

.main_nav nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_img {
    max-width: 150px;
}

ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

ul li {
    position: relative;
}

ul li a {
    color: #ffe30e;
    text-decoration: none;
    padding: 10px 15px;
    transition: background 0.3s;
}

ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.highlight a {
    background-image: url('images/button.png');
    background-size: cover;
    color: #ffe30e;
    font-weight: bold;
}

.header-section {
    padding: 100px 50px;
    background: url('images/welcometosheffield.jpeg') no-repeat center center/cover;
    text-align: center;
    color: #F2A904;
}

.header-section h1 {
    font-size: 70px;
    font-family: 'Bungee Outline', cursive;
}

.content {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0
}
.slider
{
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #f9f9f9;

.slides {
  display: flex;
  transition: transform 0.4s ease-in-out;
}

.slides img {
  max-width: 100%;
  height: auto;
}